<h1>ログイン画面</h1>

<%= form_tag :action => :create do %>
<fieldset>
<ul>
  <li><%= label_tag :name, "ユーザー名" %>
      <%= text_field_tag 'post[name]' %></li>
  <li><%= label_tag :pass, "パスワード" %>
      <%= password_field_tag 'post[pass]' %></li>

  <li><%= link_to "ログイン"  %></li>

</ul>
</br>
<%= submit_tag "ログイン" %>
</fieldset>
<p>あいさつ<%= @hoge %></p>
<% end %>



